$colormain: #131313;
$displayX: flex;
$colorgold: #E3B873;
$colorwhite: white;
$colorgrey: #959595;
$FuturaDemiC: "FuturaDemiC",
sans-serif;
$Yeseva: 'Yeseva One',
cursive;
$FuturaBook: 'FuturaBookC',
sans-serif;