$colormain: #131313;
$colorgold: #E3B873;
$colorwhite: white;
$colorgrey: #959595;
$darkgrey: #363636;
$colordark: #181818;
$colorblack: black;
$borderwhitethree: 3px solid $colorwhite;
$fourpixels: 4px;
$posabsolute: absolute;
$posrelative: relative;
$displayX: flex;
$FuturaDemiC: "FuturaDemiC",
sans-serif;
$Yeseva: 'Yeseva One',
cursive;
$FuturaBook: 'FuturaBookC',
sans-serif;